// COLORS
$color-primary: orangered;
$color-mystic: #02897A;
$color-skinny-jeans: #4D8DFF;
$color-purple: #740A76;
$color-blue-black: #22343D;
$color-white: #fff;
$color-vivaldi-red: #F03E3D;
$color-shot-over: #475E69;
$color-dark-secondary: #30444E;
$color-border-color: #BCD0E5;

// FONTS
$font-stack: "Arial", sans-serif;
$font-poppins: "Poppins", sans-serif;;
